IP_KERNEL=127.0.0.1
IP_CPU=127.0.0.1
IP_MEMORIA=192.168.1.453
IP_FILESYSTEM=127.0.0.1
PUERTO_ESCUCHA=8002
PUERTO_FILESYSTEM=8003
PATH_INSTRUCCIONES=../the-last-of-c-pruebas/
LOG_LEVEL=TRACE
TAM_MEMORIA=1024
RETARDO_RESPUESTA=200
ESQUEMA=DINAMICAS
ALGORITMO_BUSQUEDA=BEST
PARTICIONES=[32,32,32,32,32,32,32,32]