IP_KERNEL=192.168.1.2
IP_CPU=192.168.1.32
IP_MEMORIA=192.168.1.453
IP_FILESYSTEM=192.168.1.45
PUERTO_ESCUCHA=8002
PUERTO_FILESYSTEM=8003
TAM_MEMORIA=256
PATH_INSTRUCCIONES=../the-last-of-c-pruebas/
RETARDO_RESPUESTA=200
ESQUEMA=FIJAS
ALGORITMO_BUSQUEDA=FIRST
PARTICIONES=[32,16,64,128,16]
LOG_LEVEL=TRACE